<div class="background" *ngIf="showPopup()">
  <div class="panel">
      <h3>Create day</h3>
      <p>Could not find any event day on server</p>
      <p>Event day must be setup before using this application</p>
      <h3>Event name: </h3>
      <input type="text" [(ngModel)]="eventName" (change)="onChangeInput($event)" placeholder="Example: utv-day-date">
  </div>
</div>