<div class="heading">
  <h3>Development Day</h3>
  <div class="heading-right">
    <h3 *ngIf="showUser()">Nickname: {{userService.getUser()}}</h3>
    <button class="add-button" (click)="onClickAddCard()">Add Card</button>
    <select *ngIf="showDaySelect()" [compareWith]="dayComparer" [ngModel]="selectedDay" (ngModelChange)="onChangeSelectedDay($event)">
      <option [ngValue]="day" *ngFor="let day of dayOptions"> {{day.name}}</option>
    </select>
  </div>
</div>
<div class="body">
  <app-card-list></app-card-list>
</div>

<app-login></app-login>
<app-day-editor #dayEditor></app-day-editor>