:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    overflow-y: hidden;

    font-family: sans-serif;
    background-color: #fafafa;
}

.heading {
    display: flex;
    justify-content: space-between;
    background-color: #3f51b5;
    color: white; 
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    padding: 1em;
}

.heading-right {
    display: flex;
    align-items: center;
}

.heading-right>*+* {
    margin-left: 0.5em;
}

.heading-right>select{
    padding: 0.5em 0;
}

.add-button{
    color: white;
}

.add-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.add-button:active{
    background-color: rgba(255, 255, 255, 0.1);
}

.add-button:not(:hover):not(:active){
    background-color: rgba(255, 255, 255, 0.15);
}

.body{
    flex: 100 100;
    overflow-y: auto;
}

app-card-list {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    max-width: 800px;
}

::ng-deep h1 {
    margin: 0.5em 0 0.25em 0;
}

::ng-deep h2{
    margin: 0.5em 0 0.25em 0;
}

::ng-deep h3{
    margin: 0.5em 0 0.25em 0;
}

::ng-deep h4{
    margin: 0.5em 0 0.25em 0;
}

::ng-deep h5{
    margin: 0.5em 0 0.25em 0;
}

::ng-deep input {
    border: 1px solid gray;
    padding: 5px;
}

::ng-deep button {
    margin: 0.25em;
    padding: 0.2em 0.75em;
    min-height: 2.25em;
    user-select: none;
    cursor: default;
    align-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.15);
}

::ng-deep button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

::ng-deep button:active{
    background-color: rgba(0, 0, 0, 0.1);
}

::ng-deep button:not(:hover):not(:active){
    background-color: rgba(0, 0, 0, 0.15);
}

::ng-deep *:focus {
    outline-offset: 1px;
    outline: 2px solid #3f51b5;
}