<div class="background" *ngIf="showLogin()">
  <div class="panel">
    <h3>Nick name: </h3>
    <input type="text" [ngModel]="name" (change)="onChangeInput($event)" placeholder="Example: NNN">
  </div>
</div>
