:host {
    display: block;
    padding: 1em;
    background-color: white;
    border: 1px solid gray;
}

.heading {
    font-style: italic;
    color: rgb(155, 155, 155);
}

.edit{
    display: flex;
    flex-direction: column;
}

h5 {
    margin-top: 0.75em;
}

.button-row {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.votes {
    display: flex;
}

.vote {
    padding: 0.25em 0.5em;
    color: white;
    background: #3f51b5;
}

.vote+.vote {
    margin-left: 0.5em; 
}

.delete-button:hover{
    color: white;
    background-color: rgba(218, 62, 44, 0.8);
}

.delete-button:active{
    color: white;
    background-color: rgba(218, 62, 44, 0.9);
}

.delete-button:not(:hover):not(:active){
    color: white;
    background-color: rgb(218, 62, 44);
}