<div>
    <div *ngIf="!editModeIsEnabled()">
        <div *ngIf="showName()">
            <h5 class="heading">Name: </h5>
            <div>{{card.name}}</div>
        </div>
        <div *ngIf="showTechnology()">
            <h5 class="heading">Technology: </h5>
            <div>{{card.technology}}</div>
        </div>
        <div *ngIf="showContact()">
            <h5 class="heading">Contact: </h5>
            <div>{{card.contact}}</div>
        </div>
        <div *ngIf="showComment()">
            <h5 class="heading">Comment: </h5>
            <div>{{card.comment}}</div>
        </div>
        <div *ngIf="showSlack()">
            <h5 class="heading">Slack: </h5>
            <div>{{card.slack}}</div>
        </div>
        <div>
            <h5 class="heading">Votes:</h5>
            <div class="votes" *ngIf="showVotes()">
                <div class="vote" *ngFor="let vote of card.votes">{{vote.nickname}}</div>
            </div>
        </div>
        <div class="button-row">
            <button *ngIf="showVoteButton()" (click)="onClickVote()">Vote</button>
            <button *ngIf="showUnvoteButton()" (click)="onClickUnvote()">Unvote</button>
            <button (click)="enableEdit()">Edit</button>
        </div>
    </div>

    <div class="edit" *ngIf="editModeIsEnabled()">

        <h5>Name: </h5>
        <input [id]="card.id" type="text" [(ngModel)]="editCard.name">
        <h5>Technology: </h5>
        <input type="text" [(ngModel)]="editCard.technology">
        <h5>Contact: </h5>
        <input type="text" [(ngModel)]="editCard.contact">
        <h5>Slack: </h5>
        <input type="text" [(ngModel)]="editCard.slack">
        <h5>Comment: </h5>
        <textarea type="text" rows="4"[(ngModel)]="editCard.comment"></textarea>

        <div class="button-row">
            <button (click)="saveEdit()">Save</button>
            <button class="delete-button" *ngIf="showDeleteButton()" (click)="deleteEdit()">Delete</button>
            <button (click)="cancelEdit()">Cancel</button>
        </div>
    </div>
</div>