:host {
    display: block;
    padding: 1em;
}

app-card {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

app-card+app-card{
    margin-top: 1em;
}